# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\GIS_Course\EGM722-Programming_for_GIS_and_Remote_Sensing\GIT\EGM722-COVID-USA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
